services:
  postgres:
    image: postgres:12.3
    environment:
      - POSTGRES_DB=hotelbooking_db
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: